h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}
a,
a:hover {
    text-decoration: none;
}
input:focus,
select:focus {
    outline: 0;
}
.form-control:focus {
    box-shadow: none !important;
}
